# California Housing Price Prediction : 
 
## DESCRIPTION

### Background of Problem Statement :

The US Census Bureau has published California Census Data which has 10 types of metrics such as the population, median income, median housing price, and so on for each block group in California. The dataset also serves as an input for project scoping and tries to specify the functional and nonfunctional requirements for it.

### Problem Objective :

The project aims at building a model of housing prices to predict median house values in California using the provided dataset. This model should learn from the data and be able to predict the median housing price in any district, given all the other metrics.

Districts or block groups are the smallest geographical units for which the US Census Bureau
publishes sample data (a block group typically has a population of 600 to 3,000 people). There are 20,640 districts in the project dataset.

### Domain: Finance and Housing

#### Analysis Tasks to be performed:

1. Build a model of housing prices to predict median house values in California using the provided dataset.

2. Train the model to learn from the data to predict the median housing price in any district, given all the other metrics.

3. Predict housing prices based on median_income and plot the regression chart for it.

In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

##### 1. Load the data :

Read the “housing.xslx” file from the folder into the program.
Print first few rows of this data.
Extract input (X) and output (Y) data from the dataset.

In [15]:
housing_dt = pd.pandas.read_excel(r'/Users/arvindatmuri/PythonProjects/California Housing Price Prediction/california_housing_dataset.xlsx')
housing_dt.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
3904,-118.51,34.19,38,2182,409.0,1141,379,4.2865,<1H OCEAN,221100
2752,-115.40,32.70,19,583,113.0,531,134,1.6838,INLAND,95800
10819,-117.92,33.64,5,949,287.0,497,244,2.7500,<1H OCEAN,225000
1977,-120.44,38.61,9,2598,548.0,796,297,3.5192,INLAND,98000
12824,-121.44,38.73,25,1287,224.0,727,236,4.7396,INLAND,135500
10691,-117.72,33.63,15,1362,255.0,378,202,1.9000,<1H OCEAN,162500
10212,-117.90,33.88,35,2062,353.0,991,357,5.2897,<1H OCEAN,230400
6547,-118.01,34.05,31,1135,355.0,1717,368,2.1602,<1H OCEAN,161700
14545,-117.26,32.95,15,1036,149.0,395,157,5.8343,NEAR OCEAN,500001
6765,-118.13,34.11,45,1780,289.0,755,328,4.8250,<1H OCEAN,351100

In [17]:
housing_dt.shape

(20640, 10)

In [21]:
housing_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   ocean_proximity     20640 non-null  object
 9   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

In [22]:
housing_dt.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

# Dataset Description :

#### Dataset Size : 20640 rows x 10 columns

## Field	Description

longitude	(signed numeric - float) : Longitude value for the block in California, USA

latitude	(numeric - float) : Latitude value for the block in California, USA

housing_median_age	(numeric - int) : Median age of the house in the block

total_rooms	(numeric - int) : Count of the total number of rooms (excluding bedrooms) in all houses in the block

total_bedrooms	(numeric - float) : Count of the total number of bedrooms in all houses in the block

population	(numeric - int) : Count of the total number of population in the block

households	(numeric - int) : Count of the total number of households in the block

median_income	(numeric - float) : Median of the total household income of all the houses in the block

ocean_proximity	(numeric - categorical) : Type of the landscape of the block [ Unique Values : 'NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'  ]

median_house_value	(numeric - int) : Median of the household prices of all the houses in the block

##### 2. Handle missing values :

Fill the missing values with the mean of the respective column.

##### 3. Encode categorical data :

Convert categorical column in the dataset to numerical data.

##### 4. Split the dataset : 

Split the data into 80% training dataset and 20% test dataset.

##### 5. Standardize data :

Standardize training and test datasets.

##### 6. Perform Linear Regression : 

Perform Linear Regression on training data.
Predict output for test dataset using the fitted model.
Print root mean squared error (RMSE) from Linear Regression.

[ HINT: Import mean_squared_error from sklearn.metrics ]

##### 7. Bonus exercise: Perform Linear Regression with one independent variable :

Extract just the median_income column from the independent variables (from X_train and X_test).
Perform Linear Regression to predict housing values based on median_income.
Predict output for test dataset using the fitted model.
Plot the fitted model for training data as well as for test data to check if the fitted model satisfies the test data.